In [2]:
import pandas as pd

In [2]:
input_path = r'D:\BAPS\Projects\mmil\All_Subjects_My_Table_19Sep2025.csv'
df = pd.read_csv(input_path)

df.head(), df.columns.tolist()

(   subject_id visit  DXNORM  DXMCI  DXAD
 0  002_S_0295    bl     1.0    NaN   NaN
 1  002_S_0295   m06     1.0    NaN   NaN
 2  002_S_0295   m12     1.0    NaN   NaN
 3  002_S_0295   m18     NaN    NaN   NaN
 4  002_S_0295   m24     1.0    NaN   NaN,
 ['subject_id', 'visit', 'DXNORM', 'DXMCI', 'DXAD'])

In [3]:
print(df.shape)

(24501, 5)

In [4]:
df = df.dropna(subset=['DXNORM', 'DXMCI', 'DXAD'], how='all')

In [11]:
col = ['DXNORM', 'DXMCI', 'DXAD']
df[col] = df[col].fillna(0.0)

df[col] = df[col].astype(int)

df.head()

   subject_id visit  DXNORM  DXMCI  DXAD
0  002_S_0295    bl       1      0     0
1  002_S_0295   m06       1      0     0
2  002_S_0295   m12       1      0     0
4  002_S_0295   m24       1      0     0
6  002_S_0295   m36       1      0     0

In [5]:
print(df.shape)

(3860, 5)

In [13]:
normal_count = df['DXNORM'].sum()
mci_count    = df['DXMCI'].sum()
ad_count     = df['DXAD'].sum()

print("Class distribution:")
print(f"Normal: {normal_count}")
print(f"MCI: {mci_count}")
print(f"AD: {ad_count}")

Class distribution:
Normal: 1130
MCI: 1601
AD: 1129

In [14]:
df['subject_id'].nunique()

819

In [15]:
output_file = "Processed_11.csv"
df.to_csv(output_file, index=False)

In [17]:
df_bl = df[df['visit'].str.lower() == 'bl']

In [18]:
df_bl

       subject_id visit  DXNORM  DXMCI  DXAD
0      002_S_0295    bl       1      0     0
14     002_S_0413    bl       1      0     0
40     002_S_0559    bl       1      0     0
50     002_S_0619    bl       0      0     1
57     002_S_0685    bl       1      0     0
...           ...   ...     ...    ...   ...
24064  941_S_1202    bl       1      0     0
24080  941_S_1203    bl       1      0     0
24091  941_S_1295    bl       0      1     0
24097  941_S_1311    bl       0      1     0
24103  941_S_1363    bl       0      1     0

[819 rows x 5 columns]

In [20]:
normal_count = df_bl['DXNORM'].sum()
mci_count    = df_bl['DXMCI'].sum()
ad_count     = df_bl['DXAD'].sum()

print("Class distribution:")
print(f"Normal: {normal_count}")
print(f"MCI: {mci_count}")
print(f"AD: {ad_count}")

Class distribution:
Normal: 229
MCI: 397
AD: 193

In [21]:
df_geno = pd.read_csv(r'D:\BAPS\Projects\mmil\ADNI_1_GWAS_Plink\ADNI_cluster_01_forward_757LONI.fam', delim_whitespace=True)

In [22]:
df_geno

       n         IID  a  b  c  d
0      1  014_S_0520  0  0  2 -9
1      2  005_S_1341  0  0  2 -9
2      3  012_S_1175  0  0  1 -9
3      4  012_S_0803  0  0  2 -9
4      5  018_S_0055  0  0  1 -9
..   ...         ... .. .. .. ..
752  813  013_S_0699  0  0  1 -9
753  814  057_S_0934  0  0  2 -9
754  815  141_S_1052  0  0  2 -9
755  816  129_S_0778  0  0  1 -9
756  817  053_S_0919  0  0  1 -9

[757 rows x 6 columns]

In [23]:
merged = pd.merge(df_bl, df_geno, left_on="subject_id", right_on="IID", how="inner")

print("Merged dataset shape:", merged.shape)
print("Number of matched subjects:", merged["IID"].nunique())

merged.to_csv("Processed_22.csv", index=False)

Merged dataset shape: (757, 11)
Number of matched subjects: 757

In [25]:
input_path = r'Processed_22.csv'
df = pd.read_csv(input_path)


normal_count = df['DXNORM'].sum()
mci_count    = df['DXMCI'].sum()
ad_count     = df['DXAD'].sum()

print("Class distribution:")
print(f"Normal: {normal_count}")
print(f"MCI: {mci_count}")
print(f"AD: {ad_count}")

Class distribution:
Normal: 214
MCI: 363
AD: 180

In [37]:
# Split into MCI and non-MCI
df_mci = df[df['DXMCI'] == 1]
df_non_mci = df[df['DXMCI'] == 0]

# Randomly sample 220 MCI subjects
df_mci_down = df_mci.sample(n=220, random_state=42)

# Combine back
df_downsampled = pd.concat([df_non_mci, df_mci_down]).reset_index(drop=True)

# Shuffle rows so classes mix randomly
df_downsampled = df_downsampled.sample(frac=1, random_state=42).reset_index(drop=True)

# Save the new file
df_downsampled.to_csv("Processed_22_downsampled.csv", index=False)

In [38]:
print("Class distribution after downsampling:")
print("Normal:", (df_downsampled["DXNORM"] == 1).sum())
print("MCI:", (df_downsampled["DXMCI"] == 1).sum())
print("AD:", (df_downsampled["DXAD"] == 1).sum())

Class distribution after downsampling:
Normal: 214
MCI: 220
AD: 180

In [40]:
subject_ids = df_downsampled["subject_id"].astype(str).tolist()
subject_ids = ",".join(subject_ids)
print(subject_ids)

131_S_0497,141_S_0696,033_S_0516,031_S_0830,024_S_1307,041_S_0446,126_S_0891,002_S_0559,130_S_0969,014_S_0558,062_S_0768,128_S_0715,022_S_0129,128_S_0245,027_S_0404,136_S_0196,057_S_0779,021_S_0647,068_S_0127,036_S_0576,128_S_0205,136_S_0186,067_S_0257,116_S_0487,022_S_0004,041_S_0262,016_S_1121,057_S_0818,133_S_0493,041_S_1010,002_S_1280,029_S_0843,116_S_1249,027_S_0417,029_S_0999,136_S_0107,013_S_1120,137_S_0973,012_S_0637,016_S_1263,022_S_0130,133_S_1031,128_S_0216,018_S_0142,024_S_1171,052_S_1251,007_S_1248,137_S_0994,126_S_1077,052_S_1352,137_S_0158,057_S_0934,116_S_1232,041_S_0549,013_S_1205,031_S_0618,014_S_0548,057_S_1373,109_S_1114,068_S_0442,032_S_0095,006_S_0731,009_S_1199,137_S_1426,036_S_1135,141_S_0810,007_S_1222,027_S_0835,099_S_0090,037_S_0454,037_S_0501,100_S_1286,033_S_1281,027_S_1082,014_S_1095,016_S_0991,067_S_0243,013_S_0502,007_S_0101,014_S_0328,141_S_1245,073_S_1357,005_S_1224,041_S_0282,021_S_1109,128_S_0517,041_S_0721,035_S_0204,002_S_0938,109_S_1192,027_S_0120,009_S_1030,082_S_1377,137_S_0301,068_S_0872,033_S_1285,007_S_0128,018_S_0335,035_S_0555,032_S_0479,109_S_1013,100_S_1154,099_S_0060,036_S_1001,099_S_0470,023_S_0331,027_S_0179,014_S_0356,010_S_0419,052_S_0671,072_S_0315,013_S_0699,114_S_0228,068_S_0210,010_S_0786,016_S_1028,012_S_1009,023_S_0083,067_S_1185,126_S_0605,082_S_1079,005_S_0221,128_S_1242,018_S_0043,018_S_0682,067_S_0177,137_S_0669,023_S_0376,137_S_0366,016_S_0359,006_S_0681,036_S_0672,114_S_0416,033_S_0725,012_S_1033,035_S_0033,033_S_0733,068_S_0401,016_S_1117,002_S_1261,136_S_0194,031_S_0821,012_S_1321,029_S_1318,141_S_0852,018_S_0055,100_S_0015,041_S_1368,057_S_1217,126_S_1340,137_S_0631,136_S_1227,114_S_0979,014_S_0520,020_S_0213,123_S_0091,013_S_1035,005_S_0610,057_S_1371,100_S_0069,018_S_0425,123_S_0390,023_S_0081,011_S_1080,052_S_0989,009_S_0751,002_S_0295,128_S_0258,033_S_1308,133_S_0525,041_S_0679,036_S_0656,099_S_0372,006_S_0653,021_S_0626,023_S_0078,018_S_0633,141_S_0851,013_S_0860,005_S_1341,141_S_0767,123_S_1300,029_S_0836,114_S_0601,133_S_0433,029_S_0914,021_S_0231,099_S_0492,141_S_1052,109_S_1183,005_S_0546,033_S_0741,011_S_0183,082_S_1256,011_S_0005,020_S_0883,100_S_0995,022_S_0096,109_S_0967,041_S_0125,136_S_0874,131_S_1389,002_S_1070,082_S_0304,941_S_1203,126_S_0405,032_S_0214,031_S_0294,099_S_1144,128_S_1148,013_S_1161,023_S_0613,126_S_1187,114_S_0173,041_S_0598,052_S_1346,116_S_0657,029_S_1056,023_S_0963,002_S_1268,130_S_0289,036_S_0759,082_S_0761,116_S_1083,027_S_0408,100_S_0747,109_S_0777,007_S_1304,099_S_0111,033_S_1309,128_S_0188,021_S_0273,128_S_0947,023_S_0058,052_S_1250,027_S_1254,131_S_0457,002_S_0955,023_S_1126,006_S_0484,033_S_1086,057_S_1265,012_S_0689,128_S_0167,131_S_0319,027_S_0116,128_S_0863,128_S_0229,011_S_0016,100_S_1113,007_S_0068,141_S_1152,011_S_0326,062_S_1099,037_S_1078,123_S_0094,082_S_0363,137_S_0438,031_S_1209,023_S_1262,133_S_0488,023_S_0031,033_S_1098,012_S_0712,128_S_0740,067_S_0029,005_S_0929,136_S_0184,098_S_0896,033_S_0922,099_S_0880,037_S_0303,128_S_0522,098_S_0288,141_S_0790,020_S_0899,035_S_0341,130_S_1200,130_S_0886,128_S_0230,002_S_0816,011_S_0003,123_S_0072,012_S_0932,114_S_0410,005_S_0814,011_S_0010,053_S_0919,041_S_0314,002_S_0619,129_S_0778,021_S_0424,137_S_0841,023_S_1247,126_S_0506,067_S_0076,007_S_0070,027_S_0256,099_S_0534,011_S_0021,067_S_0812,009_S_1354,032_S_0400,068_S_1191,099_S_0054,033_S_1283,027_S_1213,126_S_0709,037_S_0627,012_S_0917,128_S_1430,027_S_0644,128_S_1088,013_S_0996,128_S_0528,033_S_0889,128_S_1409,032_S_1169,123_S_0298,037_S_0467,031_S_0554,133_S_1055,073_S_0445,141_S_1255,005_S_0572,021_S_0984,100_S_0892,014_S_0519,011_S_0362,002_S_0954,023_S_0084,021_S_0276,141_S_1378,057_S_1269,057_S_0643,130_S_1337,136_S_0299,131_S_1301,037_S_0588,002_S_1018,941_S_1195,009_S_1334,027_S_1081,098_S_0172,123_S_0088,029_S_1218,012_S_0803,022_S_0219,136_S_0300,137_S_0972,128_S_1407,099_S_0533,036_S_1240,116_S_0648,029_S_1184,100_S_0035,098_S_0269,018_S_0155,010_S_0067,062_S_1182,123_S_0113,041_S_1002,131_S_0384,137_S_0283,029_S_0845,052_S_1054,023_S_0604,029_S_0866,082_S_0832,131_S_0441,128_S_0310,012_S_1165,023_S_0926,011_S_0856,021_S_0159,029_S_0824,073_S_0089,018_S_0103,021_S_0332,137_S_0459,128_S_0272,109_S_0876,116_S_0370,010_S_0161,023_S_0916,036_S_0577,052_S_0951,128_S_0266,082_S_0640,128_S_0770,067_S_0176,052_S_1168,010_S_0422,023_S_0217,114_S_1106,023_S_1190,137_S_0722,057_S_0464,067_S_0056,130_S_1201,011_S_0053,062_S_0793,024_S_0985,116_S_0890,016_S_0702,022_S_0750,128_S_0138,053_S_0389,068_S_0478,021_S_0141,141_S_1094,082_S_1119,116_S_0382,100_S_0047,027_S_0461,027_S_0485,022_S_0543,035_S_0156,013_S_0325,033_S_0723,137_S_0800,137_S_0796,126_S_0680,031_S_0321,007_S_0344,068_S_0109,123_S_0106,016_S_0769,033_S_0724,126_S_1221,027_S_0403,099_S_1034,041_S_0898,027_S_1387,099_S_0352,067_S_1253,023_S_0061,023_S_0093,033_S_0511,137_S_1041,141_S_0853,067_S_0059,027_S_1045,141_S_0982,131_S_0436,023_S_1289,022_S_0924,036_S_0673,114_S_0166,133_S_0792,010_S_0829,022_S_0066,035_S_0292,027_S_0307,027_S_0074,023_S_0042,007_S_0293,011_S_0002,033_S_0920,013_S_0592,109_S_1157,018_S_0286,073_S_0386,036_S_0760,128_S_0500,032_S_0677,005_S_0223,009_S_0862,007_S_1206,033_S_0923,027_S_1385,068_S_0473,133_S_0727,123_S_0050,067_S_0019,067_S_0607,020_S_1288,011_S_0022,073_S_0311,037_S_0377,131_S_0691,005_S_0222,035_S_0048,067_S_0336,041_S_1260,010_S_0472,116_S_1243,022_S_0544,057_S_0474,941_S_1202,109_S_1014,133_S_1170,129_S_1204,098_S_0884,062_S_0730,002_S_0685,099_S_0040,052_S_0952,033_S_0567,016_S_1326,021_S_0642,067_S_0110,037_S_1421,029_S_1215,136_S_0195,057_S_1379,136_S_0086,033_S_1016,021_S_0337,116_S_0360,062_S_0578,012_S_1133,072_S_1380,128_S_0200,011_S_0008,007_S_1339,041_S_1391,027_S_0118,007_S_0316,099_S_0051,067_S_0828,067_S_0284,141_S_0717,114_S_0374,137_S_0481,941_S_1197,032_S_0978,027_S_0850,012_S_1212,022_S_0961,023_S_1306,128_S_0135,037_S_0150,013_S_0575,005_S_0602,032_S_0147,010_S_0420,033_S_0906,141_S_0726,036_S_0813,062_S_0690,011_S_0023,130_S_0232,116_S_0392,098_S_0149,029_S_1073,099_S_0958,130_S_0505,100_S_0190,041_S_1435,032_S_1101,027_S_1277,005_S_0324,022_S_0007,941_S_1194,002_S_0413,100_S_0006,016_S_0538,053_S_1044,009_S_0842,133_S_0638,141_S_0915,137_S_0443,136_S_0426,020_S_0097,130_S_0956,131_S_0409,131_S_0123,073_S_0312,005_S_0553,126_S_0784,141_S_1137,100_S_1062,033_S_0734,073_S_0518,116_S_0649,130_S_0423,114_S_0458,073_S_0565,136_S_0429,022_S_1351,036_S_1023,128_S_0611,072_S_1211,012_S_0720,018_S_0087,033_S_0739,098_S_0171,006_S_0547,126_S_0606,021_S_0178,032_S_1037,100_S_1226,037_S_0327,141_S_1024,023_S_1046,007_S_0249,130_S_1290,123_S_0162,024_S_1063,021_S_0343,137_S_0686,018_S_0369,133_S_0913,128_S_0545,062_S_0535,128_S_1406,023_S_0139,006_S_0498,013_S_1276,022_S_0014,100_S_0743,130_S_0102,021_S_0753

In [33]:
pd.set_option('display.max_rows', None)  # show all rows
pd.set_option('display.max_columns', None)

In [34]:
with open("mylist.txt", "w") as f:
    f.write(", ".join(str(x) for x in list))

#######

$$$$$$

In [42]:
input_path = r'D:\BAPS\Projects\mmil\3_claasses\ADNI1_T1w_Cohort_at_m12_My_Table_23Sep2025.csv'
df = pd.read_csv(input_path)

df.head(), df.columns.tolist()

(   subject_id visit  DXNORM  DXMCI  DXAD
 0  002_S_0295    bl     1.0    NaN   NaN
 1  002_S_0295   m06     1.0    NaN   NaN
 2  002_S_0295   m12     1.0    NaN   NaN
 3  002_S_0295   m18     NaN    NaN   NaN
 4  002_S_0295   m24     1.0    NaN   NaN,
 ['subject_id', 'visit', 'DXNORM', 'DXMCI', 'DXAD'])

In [43]:
df = df.dropna(subset=['DXNORM', 'DXMCI', 'DXAD'], how='all')

In [47]:
df.head(), df.columns.tolist()

(   subject_id visit  DXNORM  DXMCI  DXAD
 0  002_S_0295    bl     1.0    NaN   NaN
 1  002_S_0295   m06     1.0    NaN   NaN
 2  002_S_0295   m12     1.0    NaN   NaN
 4  002_S_0295   m24     1.0    NaN   NaN
 6  002_S_0295   m36     1.0    NaN   NaN,
 ['subject_id', 'visit', 'DXNORM', 'DXMCI', 'DXAD'])

In [49]:
df.shape
df_m12.shape

(211, 5)

In [48]:
df_m12 = df[df['visit'].str.lower() == 'm12']

In [50]:
df_m12

      subject_id visit  DXNORM  DXMCI  DXAD
2     002_S_0295   m12     1.0    NaN   NaN
17    002_S_0413   m12     1.0    NaN   NaN
40    002_S_0559   m12     1.0    NaN   NaN
49    002_S_0685   m12     1.0    NaN   NaN
68    002_S_1261   m12     1.0    NaN   NaN
87    002_S_1280   m12     1.0    NaN   NaN
109   003_S_0907   m12     1.0    NaN   NaN
126   003_S_0931   m12     1.0    NaN   NaN
136   003_S_0981   m12     1.0    NaN   NaN
155   005_S_0553   m12     1.0    NaN   NaN
174   005_S_0602   m12     1.0    NaN   NaN
194   005_S_0610   m12     1.0    NaN   NaN
214   006_S_0498   m12     1.0    NaN   NaN
234   006_S_0681   m12     1.0    NaN   NaN
242   006_S_0731   m12     1.0    NaN   NaN
262   007_S_0068   m12     1.0    NaN   NaN
272   007_S_0070   m12     1.0    NaN   NaN
279   007_S_1206   m12     1.0    NaN   NaN
293   007_S_1222   m12     1.0    NaN   NaN
313   009_S_0751   m12     1.0    NaN   NaN
337   009_S_0842   m12     1.0    NaN   NaN
355   009_S_0862   m12     1.0    NaN   NaN
364   010_S_0067   m12     1.0    NaN   NaN
373   010_S_0419   m12     1.0    NaN   NaN
392   010_S_0420   m12     1.0    NaN   NaN
411   010_S_0422   m12     1.0    NaN   NaN
420   010_S_0472   m12     1.0    NaN   NaN
427   011_S_0005   m12     1.0    NaN   NaN
437   011_S_0008   m12     1.0    NaN   NaN
453   011_S_0016   m12     1.0    NaN   NaN
462   011_S_0021   m12     1.0    NaN   NaN
484   011_S_0022   m12     1.0    NaN   NaN
491   011_S_0023   m12     1.0    NaN   NaN
510   012_S_0637   m12     1.0    NaN   NaN
526   012_S_1133   m12     1.0    NaN   NaN
540   012_S_1212   m12     1.0    NaN   NaN
555   013_S_0502   m12     1.0    NaN   NaN
563   013_S_0575   m12     1.0    NaN   NaN
571   013_S_1035   m12     1.0    NaN   NaN
579   013_S_1276   m12     1.0    NaN   NaN
587   014_S_0519   m12     1.0    NaN   NaN
603   014_S_0520   m12     1.0    NaN   NaN
619   014_S_0548   m12     1.0    NaN   NaN
635   014_S_0558   m12     1.0    NaN   NaN
651   016_S_0359   m12     1.0    NaN   NaN
667   016_S_0538   m12     1.0    NaN   NaN
679   018_S_0043   m12     1.0    NaN   NaN
690   018_S_0055   m12     1.0    NaN   NaN
705   018_S_0369   m12     1.0    NaN   NaN
713   018_S_0425   m12     1.0    NaN   NaN
719   020_S_0097   m12     1.0    NaN   NaN
727   020_S_0883   m12     1.0    NaN   NaN
735   020_S_0899   m12     1.0    NaN   NaN
743   020_S_1288   m12     1.0    NaN   NaN
754   021_S_0159   m12     1.0    NaN   NaN
778   021_S_0337   m12     1.0    NaN   NaN
803   021_S_0647   m12     1.0    NaN   NaN
812   021_S_0984   m12     1.0    NaN   NaN
829   022_S_0066   m12     1.0    NaN   NaN
837   022_S_0096   m12     1.0    NaN   NaN
861   022_S_0130   m12     1.0    NaN   NaN
877   023_S_0031   m12     1.0    NaN   NaN
899   023_S_0058   m12     1.0    NaN   NaN
918   023_S_0061   m12     1.0    NaN   NaN
937   023_S_0081   m12     1.0    NaN   NaN
949   023_S_0926   m12     1.0    NaN   NaN
969   023_S_0963   m12     1.0    NaN   NaN
979   023_S_1190   m12     1.0    NaN   NaN
1002  024_S_0985   m12     1.0    NaN   NaN
1018  024_S_1063   m12     1.0    NaN   NaN
1030  027_S_0074   m12     1.0    NaN   NaN
1056  027_S_0118   m12     1.0    NaN   NaN
1073  027_S_0120   m12     1.0    NaN   NaN
1093  027_S_0403   m12     1.0    NaN   NaN
1105  029_S_0824   m12     1.0    NaN   NaN
1124  029_S_0843   m12     1.0    NaN   NaN
1141  029_S_0845   m12     1.0    NaN   NaN
1152  029_S_0866   m12     1.0    NaN   NaN
1161  031_S_0618   m12     1.0    NaN   NaN
1183  032_S_0095   m12     1.0    NaN   NaN
1190  032_S_0479   m12     1.0    NaN   NaN
1205  032_S_0677   m12     1.0    NaN   NaN
1225  032_S_1169   m12     1.0    NaN   NaN
1243  033_S_0516   m12     1.0    NaN   NaN
1254  033_S_0734   m12     1.0    NaN   NaN
1279  033_S_0741   m12     1.0    NaN   NaN
1300  033_S_0920   m12     1.0    NaN   NaN
1319  033_S_0923   m12     1.0    NaN   NaN
1339  033_S_1016   m12     1.0    NaN   NaN
1363  033_S_1086   m12     1.0    NaN   NaN
1372  033_S_1098   m12     1.0    NaN   NaN
1395  035_S_0048   m12     1.0    NaN   NaN
1404  035_S_0156   m12     1.0    NaN   NaN
1425  035_S_0555   m12     1.0    NaN   NaN
1449  036_S_0576   m12     1.0    NaN   NaN
1457  036_S_0672   m12     1.0    NaN   NaN
1472  036_S_0813   m12     1.0    NaN   NaN
1484  036_S_1023   m12     1.0    NaN   NaN
1503  037_S_0303   m12     1.0    NaN   NaN
1523  037_S_0327   m12     1.0    NaN   NaN
1533  037_S_0454   m12     1.0    NaN   NaN
1553  037_S_0467   m12     1.0    NaN   NaN
1574  041_S_0125   m12     1.0    NaN   NaN
1590  041_S_0262   m12     1.0    NaN   NaN
1601  041_S_0898   m12     1.0    NaN   NaN
1610  041_S_1002   m12     1.0    NaN   NaN
1620  051_S_1123   m12     1.0    NaN   NaN
1636  052_S_0951   m12     1.0    NaN   NaN
1649  052_S_1250   m12     1.0    NaN   NaN
1663  052_S_1251   m12     1.0    NaN   NaN
1672  057_S_0643   m12     1.0    NaN   NaN
1680  057_S_0779   m12     1.0    NaN   NaN
1688  057_S_0818   m12     1.0    NaN   NaN
1697  057_S_0934   m12     1.0    NaN   NaN
1718  062_S_0578   m12     1.0    NaN   NaN
1725  062_S_0768   m12     1.0    NaN   NaN
1733  062_S_1099   m12     1.0    NaN   NaN
1738  067_S_0019   m12     1.0    NaN   NaN
1746  067_S_0056   m12     1.0    NaN   NaN
1768  067_S_0059   m12     1.0    NaN   NaN
1789  067_S_0177   m12     1.0    NaN   NaN
1796  067_S_0257   m12     1.0    NaN   NaN
1813  068_S_0127   m12     1.0    NaN   NaN
1838  068_S_0210   m12     1.0    NaN   NaN
1851  068_S_0473   m12     1.0    NaN   NaN
1872  072_S_0315   m12     1.0    NaN   NaN
1891  073_S_0089   m12     1.0    NaN   NaN
1912  073_S_0311   m12     1.0    NaN   NaN
1925  073_S_0312   m12     1.0    NaN   NaN
1932  073_S_0386   m12     1.0    NaN   NaN
1942  094_S_0526   m12     1.0    NaN   NaN
1950  094_S_0692   m12     1.0    NaN   NaN
1957  094_S_0711   m12     1.0    NaN   NaN
1965  094_S_1188   m12     1.0    NaN   NaN
1973  098_S_0171   m12     1.0    NaN   NaN
1989  098_S_0172   m12     1.0    NaN   NaN
2006  098_S_0896   m12     1.0    NaN   NaN
2026  099_S_0090   m12     1.0    NaN   NaN
2034  099_S_0352   m12     1.0    NaN   NaN
2051  099_S_0533   m12     1.0    NaN   NaN
2059  099_S_0534   m12     1.0    NaN   NaN
2067  099_S_0551   m12     1.0    NaN   NaN
2075  100_S_0015   m12     1.0    NaN   NaN
2088  100_S_0035   m12     1.0    NaN   NaN
2109  100_S_0047   m12     1.0    NaN   NaN
2126  100_S_0069   m12     1.0    NaN   NaN
2147  100_S_1286   m12     1.0    NaN   NaN
2162  109_S_0967   m12     1.0    NaN   NaN
2169  109_S_1014   m12     1.0    NaN   NaN
2179  114_S_0166   m12     1.0    NaN   NaN
2194  114_S_0173   m12     1.0    NaN   NaN
2208  114_S_0416   m12     1.0    NaN   NaN
2227  114_S_0601   m12     1.0    NaN   NaN
2236  116_S_0382   m12     1.0    NaN   NaN
2257  116_S_0648   m12     1.0    NaN   NaN
2265  116_S_0657   m12     1.0    NaN   NaN
2278  116_S_1232   m12     1.0    NaN   NaN
2296  116_S_1249   m12     1.0    NaN   NaN
2313  123_S_0072   m12     1.0    NaN   NaN
2337  123_S_0106   m12     1.0    NaN   NaN
2357  123_S_0113   m12     1.0    NaN   NaN
2373  123_S_0298   m12     1.0    NaN   NaN
2393  126_S_0605   m12     1.0    NaN   NaN
2421  126_S_0680   m12     1.0    NaN   NaN
2444  127_S_0259   m12     1.0    NaN   NaN
2468  127_S_0260   m12     1.0    NaN   NaN
2487  127_S_0622   m12     1.0    NaN   NaN
2499  127_S_0684   m12     1.0    NaN   NaN
2523  128_S_0205   m12     1.0    NaN   NaN
2542  128_S_0229   m12     1.0    NaN   NaN
2560  128_S_0230   m12     1.0    NaN   NaN
2573  128_S_0272   m12     1.0    NaN   NaN
2592  128_S_0500   m12     1.0    NaN   NaN
2601  128_S_0522   m12     1.0    NaN   NaN
2616  128_S_0545   m12     1.0    NaN   NaN
2634  128_S_0863   m12     1.0    NaN   NaN
2647  128_S_1242   m12     1.0    NaN   NaN
2658  129_S_0778   m12     1.0    NaN   NaN
2680  130_S_0232   m12     1.0    NaN   NaN
2692  130_S_0886   m12     1.0    NaN   NaN
2705  130_S_0969   m12     1.0    NaN   NaN
2722  130_S_1200   m12     1.0    NaN   NaN
2731  131_S_0123   m12     1.0    NaN   NaN
2750  131_S_0319   m12     1.0    NaN   NaN
2754  131_S_0441   m12     1.0    NaN   NaN
2772  131_S_1301   m12     1.0    NaN   NaN
2781  133_S_0433   m12     1.0    NaN   NaN
2789  133_S_0488   m12     1.0    NaN   NaN
2797  133_S_0493   m12     1.0    NaN   NaN
2805  133_S_0525   m12     1.0    NaN   NaN
2813  136_S_0086   m12     1.0    NaN   NaN
2824  136_S_0184   m12     1.0    NaN   NaN
2832  136_S_0186   m12     1.0    NaN   NaN
2848  136_S_0196   m12     1.0    NaN   NaN
2856  137_S_0283   m12     1.0    NaN   NaN
2864  137_S_0301   m12     1.0    NaN   NaN
2880  137_S_0443   m12     1.0    NaN   NaN
2888  137_S_0459   m12     1.0    NaN   NaN
2901  137_S_0686   m12     1.0    NaN   NaN
2918  137_S_0722   m12     1.0    NaN   NaN
2937  137_S_0972   m12     1.0    NaN   NaN
2954  141_S_0717   m12     1.0    NaN   NaN
2969  141_S_0726   m12     1.0    NaN   NaN
2976  141_S_0767   m12     1.0    NaN   NaN
2999  141_S_0810   m12     1.0    NaN   NaN
3006  141_S_1094   m12     1.0    NaN   NaN
3016  141_S_1245   m12     1.0    NaN   NaN
3021  941_S_1194   m12     1.0    NaN   NaN
3032  941_S_1197   m12     1.0    NaN   NaN
3039  941_S_1202   m12     1.0    NaN   NaN
3055  941_S_1203   m12     1.0    NaN   NaN

In [51]:
col = ['DXNORM', 'DXMCI', 'DXAD']
df_m12[col] = df_m12[col].fillna(0.0)

df_m12[col] = df_m12[col].astype(int)

df_m12.head()

C:\Users\BAPS\AppData\Local\Temp\ipykernel_20056\2995329746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m12[col] = df_m12[col].fillna(0.0)
C:\Users\BAPS\AppData\Local\Temp\ipykernel_20056\2995329746.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m12[col] = df_m12[col].astype(int)

    subject_id visit  DXNORM  DXMCI  DXAD
2   002_S_0295   m12       1      0     0
17  002_S_0413   m12       1      0     0
40  002_S_0559   m12       1      0     0
49  002_S_0685   m12       1      0     0
68  002_S_1261   m12       1      0     0

In [52]:
output_file = "normal_.csv"
df_m12.to_csv(output_file, index=False)

In [55]:
input_path = r'D:\BAPS\Projects\mmil\3_claasses\ADNI1_T1w_Cohort_at_Visit_12_My_Table_23Sep2025.csv'
df = pd.read_csv(input_path)
df = df.dropna(subset=['DXNORM', 'DXMCI', 'DXAD'], how='all')
df_ad = df[df['visit'].str.lower() == 'm12']
col = ['DXNORM', 'DXMCI', 'DXAD']
df_ad[col] = df_ad[col].fillna(0.0)

df_ad[col] = df_ad[col].astype(int)

df_ad.head()
df_ad.shape

C:\Users\BAPS\AppData\Local\Temp\ipykernel_20056\111050959.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ad[col] = df_ad[col].fillna(0.0)
C:\Users\BAPS\AppData\Local\Temp\ipykernel_20056\111050959.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ad[col] = df_ad[col].astype(int)

(204, 5)

In [56]:
df_ad.head()

    subject_id visit  DXNORM  DXMCI  DXAD
2   002_S_0619   m12       0      0     1
9   002_S_0729   m12       0      0     1
26  002_S_0816   m12       0      0     1
30  002_S_0938   m12       0      0     1
36  002_S_0954   m12       0      0     1

In [57]:
output_file = "AD_.csv"
df_ad.to_csv(output_file, index=False)

In [58]:
input_path = r'D:\BAPS\Projects\mmil\3_claasses\ADNI1_T1w_DXMCI=1_at_m18_My_Table_23Sep2025.csv'
df = pd.read_csv(input_path)
df = df.dropna(subset=['DXNORM', 'DXMCI', 'DXAD'], how='all')
df_mci = df[df['visit'].str.lower() == 'm18']
col = ['DXNORM', 'DXMCI', 'DXAD']
df_mci[col] = df_mci[col].fillna(0.0)

df_mci[col] = df_mci[col].astype(int)
df_mci.shape

C:\Users\BAPS\AppData\Local\Temp\ipykernel_20056\4060520090.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mci[col] = df_mci[col].fillna(0.0)
C:\Users\BAPS\AppData\Local\Temp\ipykernel_20056\4060520090.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mci[col] = df_mci[col].astype(int)

(212, 5)

In [59]:
df_mci.head()

    subject_id visit  DXNORM  DXMCI  DXAD
3   002_S_0782   m18       0      1     0
16  002_S_1155   m18       0      1     0
34  002_S_1268   m18       0      1     0
53  003_S_0908   m18       0      1     0
77  003_S_1074   m18       0      1     0

In [60]:
output_file = "mci_.csv"
df_mci.to_csv(output_file, index=False)

In [62]:
df1 = pd.read_csv("normal_.csv")
df2 = pd.read_csv("mci_.csv")
df3 = pd.read_csv("AD_.csv")

combined_df = pd.concat([df1, df2, df3], ignore_index=True)

print(combined_df.shape) 
print(combined_df.head())

combined_df.to_csv("combined.csv", index=False)

(627, 5)
   subject_id visit  DXNORM  DXMCI  DXAD
0  002_S_0295   m12       1      0     0
1  002_S_0413   m12       1      0     0
2  002_S_0559   m12       1      0     0
3  002_S_0685   m12       1      0     0
4  002_S_1261   m12       1      0     0

In [64]:
df = pd.read_csv("combined.csv")

In [2]:
df_geno = pd.read_csv('D:\BAPS\Projects\mmil\ADNI_1_GWAS_Plink\ADNI_cluster_01_forward_757LONI.fam', delim_whitespace=True)

In [65]:
merged = pd.merge(df, df_geno, left_on="subject_id", right_on="IID", how="inner")

print("Merged dataset shape:", merged.shape)
print("Number of matched subjects:", merged["IID"].nunique())

# Save merged dataset
merged.to_csv("Processed_22.csv", index=False)

Merged dataset shape: (587, 11)
Number of matched subjects: 585

In [66]:
print("Class distribution after downsampling:")
print("Normal:", (merged["DXNORM"] == 1).sum())
print("MCI:", (merged["DXMCI"] == 1).sum())
print("AD:", (merged["DXAD"] == 1).sum())

Class distribution after downsampling:
Normal: 199
MCI: 198
AD: 190

In [3]:
df_m = pd.read_csv("Processed_gene_mri_subject_id.csv")

In [4]:
subject_ids = df_m["subject_id"].astype(str).tolist()

In [ ]:
# df = pd.read_csv('ADNI_genotypes.raw', delim_whitespace=True)
# #df = pd.read_csv(r"D:\plink_win64_20250819\ADNI_genotypes.raw", sep="\s+", engine="c")

raw_file = r"ADNI_genotypes.raw"
output_file = r"D:\plink_win64_20250819\ADNI_genotypes_filtered.csv"


filtered_chunks = []


chunk_iter = pd.read_csv(raw_file, delim_whitespace=True, chunksize=100)

for chunk in chunk_iter:
    # Keep only rows whose IID matches your list
    filtered_chunk = chunk[chunk["IID"].astype(str).isin(subject_ids)]
    if not filtered_chunk.empty:
        filtered_chunks.append(filtered_chunk)

# Combine into one DataFrame
df_filtered = pd.concat(filtered_chunks, ignore_index=True)

df_filtered.to_csv(output_file, index=False)

In [ ]:
print(f"Filtered data saved to {output_file}")
print("Final shape:", df_filtered.shape)

In [81]:
df = pd.read_csv(r'D:\plink_win64_20250819\ADNI_genotypes.raw', delim_whitespace=True, nrows=1)

['FID', 'IID', 'PAT', 'MAT', 'SEX', 'PHENOTYPE', 'rs12354060_0', 'rs2691310_0', 'rs2531266_0', 'rs4124251_0', 'rs8179466_0', 'rs6603779_0', 'cnvi0007379_0', 'cnvi0019140_0', 'cnvi0007389_0', 'cnvi0021559_0', 'cnvi0007392_0', 'cnvi0007380_0', 'cnvi0021553_0', 'cnvi0007381_0']

In [88]:
df.columns = df.columns.str.strip()

In [93]:
print("IID" in df.columns)   # should be True

False

In [90]:
df_raw_filtered = df[df["IID"].astype(str).isin(subject_ids)]

KeyError: 'IID'

In [6]:
import pandas as pd

# Load your data
df = pd.read_csv("combined.csv")
df_geno = pd.read_csv(
    r'D:\BAPS\Projects\mmil\ADNI_1_GWAS_plink\ADNI_cluster_01_forward_757LONI.fam',
    delim_whitespace=True
)

# Merge (as before)
merged = pd.merge(df, df_geno, left_on="subject_id", right_on="IID", how="inner")

print("Merged dataset shape:", merged.shape)
print("Number of matched subjects:", merged["IID"].nunique())

# ---- NEW PART: find unmatched IDs ----
# Get all IIDs from genotype
all_iids = set(df_geno["IID"].astype(str))

# Get matched IIDs
matched_iids = set(merged["IID"].astype(str))

# Find unmatched IIDs
unmatched_iids = all_iids - matched_iids

print("Number of unmatched IIDs:", len(unmatched_iids))

# Save unmatched list into CSV
unmatched_df = pd.DataFrame({"Unmatched_IID": list(unmatched_iids)})
unmatched_df.to_csv("unmatched_iids.csv", index=False)

print("Unmatched IIDs saved to unmatched_iids.csv")

Merged dataset shape: (587, 11)
Number of matched subjects: 585
Number of unmatched IIDs: 172
Unmatched IIDs saved to unmatched_iids.csv